/* Fontes de relaxamento */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Definições gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #220180, #805ff5); 
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

/* Cabeçalho */
header {
    margin-bottom: 50px;
}

header h1 {
    font-size: 2.5em;
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    color: #ffffff;
}

/* Seção de informações do produto */
.product-info {
    background: hsl(261, 97%, 13%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.product-info h2 {
    font-size: 2em;
    color: hsl(0, 0%, 100%);
    margin-bottom: 20px;
}

.product-info p {
    font-size: 1.1em;
    color: #ffffff;
    margin-bottom: 20px;
}

.info-container {
    background: hsl(261, 97%, 23%);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-container h3 {
    font-size: 1.5em;
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
}

.info-container p {
    font-size: 1em;
    color: #ffffff;
}

.features-list {
    list-style-type: none;
    padding: 0;
}

.features-list li {
    font-size: 1.1em;
    margin: 10px 0;
    color: #ffffff;
}

/* Seção de imagem do produto */
.product-image {
    margin: 50px 0;
}

.product-image h2 {
    font-size: 2em;
    color: hsl(0, 0%, 100%);
    margin-bottom: 20px;
}

.featured-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Chamada para ação */
.cta {
    background: rgb(45, 1, 116);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
}

.cta h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.cta p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.buy-button {
    background-color: #00ff00;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: rgb(98, 0, 255);
    color: #ffffff;
    cursor: pointer;
}

/* Rodapé */
footer {
    margin-top: 50px;
    font-size: 0.9em;
    color: #ffffff;
}
